#banner{
	position: absolute;
	top: 20%;
	margin-top: -100px;
	/* ou seja ele pega 50% da altura tela e sobe metade do valor da altura no caso 100 */
	left: 55%;
	margin-left: -275px;
}

#formulario {
	background-color: #ffffff;
	width: 500px; /* Tamanho da Largura da Div */
	height-min: 100px; /* Tamanho da Altura da Div */
	position: absolute;
	top: 50%;
	margin-top: -100px;
	/* ou seja ele pega 50% da altura tela e sobe metade do valor da altura no caso 100 */
	left: 55%;
	margin-left: -275px;
	/* ou seja ele pega 50% da largura tela e diminui  metade do valor da largura no caso 250 */
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}

#formulario>p>a{
	appearance: button;
	-webkit-appearance: button;
	-moz-appearance: button;
	text-decoration: none;
	font: menu;
	font-size: 10pt;
	display: inline-block;
	padding: 2px 8px;
	color: ButtonText;
}
