body {
	background-repeat: no-repeat;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 0px;
	padding: 0px;
}

#googleMaps{
	width:100vw;
	height:100vh;
	z-index:0;
}

#floatingBox {
	background-color: #ffffff;
	width: 500px; /* Tamanho da Largura da Div */
	height-min: 100px; /* Tamanho da Altura da Div */
	position: absolute;
	top: 50%;
	margin-top: -100px;
	/* ou seja ele pega 50% da altura tela e sobe metade do valor da altura no caso 100 */
	left: 55%;
	margin-left: -275px;
	/* ou seja ele pega 50% da largura tela e diminui  metade do valor da largura no caso 250 */
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}


#footer {
	text-align: center;
	position: absolute;
	top: 100%;
	margin-top: -100px;
	left: 20%;
	margin-left: -250;
}

#footer ul {
	width: 275px;
}

#footer li {
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	margin: 5px;
	width: 125px;
}

#footer a{
	color: #FFFFFF;
	text-shadow: 0px 0px 1px #000000;
	font-weight: bold;
}

.red{
	color: #ff0000;
	font-weight: bold;
}